body {
  background-image: url("download.jpg");
}
p {
  color: white;
}

h1 {
  color: white;
}

.Header{
  background-color: white;
}

.GrupoA{
  boder: solid;
}

.GrupoB{
  boder: solid;
}

.GrupoC{
  boder: solid;
}

.GrupoD{
  boder: solid;
}

.GrupoE{
  boder: solid;
}

.GrupoF{
  boder: solid;
}

.GrupoG{
  boder: solid;
}

.GrupoH{
  boder: solid;
}

.link{
  color:white;
}

